@layer components {
    .utility-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-block: 2rem;
        border-block-start: 1px solid var(--border-color);

        @media (min-width: 48.0625rem) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .link-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem 1rem;

        a {
            color: var(--text-light);
            font-weight: 500;
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: var(--primary-color);
                text-decoration: underline;
            }

            &:not(:last-child)::after {
                content: "|";
                margin-inline-start: 1rem;
                color: var(--border-color);
                pointer-events: none;
            }
        }

        @media (max-width: 48rem) {
            a:not(:last-child)::after {
                display: none;
            }
        }
    }
}